<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>PoliEsaMI - Registered</title>
		<link href="/polimi-tiw-2020-project/css/table.css" rel="stylesheet">
		<link href="/polimi-tiw-2020-project/css/form.css" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>PoliEsaMI</h1>
		</header>
		<div></div>

		<table id="examInfo">
			<thead>
				<tr>
					<th scope="col" th:text="#{examInfo.thCourseId}"></th>
					<th scope="col" th:text="#{examInfo.thCourseName}"></th>
					<th scope="col" th:text="#{examInfo.thExamId}"></th>
					<th scope="col" th:text="#{examInfo.thExamDate}"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${course.getId()}"></td>
					<td th:text="${course.getName()}"></td>
					<td th:text="${exam.getId()}"></td>
					<td th:text="${exam.getDate()}"></td>
				</tr>
			</tbody>
		</table>

		<table id="evaluationInfo">
			<thead>
				<tr>
					<th scope="col">
						<a th:href="@{${#servletContext.getInitParameter('profExamRegPage')}
						(examId=${examId},orderBy=studentId,descending=${(orderByString == 'studentId')? !descending : false})}"
						th:text="#{evaluationInfo.thStudentId}"></a>
					</th>
					<th scope="col">
						<a th:href="@{${#servletContext.getInitParameter('profExamRegPage')}
						(examId=${examId},orderBy=surname,descending=${(orderByString == 'surname')? !descending : false})}"
						th:text="#{evaluationInfo.thSurname}"></a>
					</th>
					<th scope="col">
						<a th:href="@{${#servletContext.getInitParameter('profExamRegPage')}
						(examId=${examId},orderBy=name,descending=${(orderByString == 'name')? !descending : false})}"
						th:text="#{evaluationInfo.thName}"></a>
					</th>
					<th scope="col">
						<a th:href="@{${#servletContext.getInitParameter('profExamRegPage')}
						(examId=${examId},orderBy=email,descending=${(orderByString == 'email')? !descending : false})}"
						th:text="#{evaluationInfo.thEmail}"></a>
					</th>
					<th scope="col">
						<a th:href="@{${#servletContext.getInitParameter('profExamRegPage')}
						(examId=${examId},orderBy=major,descending=${(orderByString == 'major')? !descending : false})}"
						th:text="#{evaluationInfo.thMajor}"></a>
					</th>
					<th scope="col">
						<a th:href="@{${#servletContext.getInitParameter('profExamRegPage')}
						(examId=${examId},orderBy=status,descending=${(orderByString == 'status')? !descending : false})}"
						th:text="#{evaluationInfo.thStatus}"></a>
					</th>
					<th scope="col">
						<a th:href="@{${#servletContext.getInitParameter('profExamRegPage')}
						(examId=${examId},orderBy=grade,descending=${(orderByString == 'grade')? !descending : false})}"
						th:text="#{evaluationInfo.thRepresentation}"></a>
					</th>
					<th th:text="#{evaluationInfo.editExamResult}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="studCareerExamRegistration,iterStat : ${studCareerExamRegistrations}" th:class="${iterStat.odd} ? 'odd' : 'even'">
					<td th:text="${studCareerExamRegistration.getValue1().getId()}"></td>
					<td th:text="${studCareerExamRegistration.getValue0().getSurname()}"></td>
					<td th:text="${studCareerExamRegistration.getValue0().getName()}"></td>
					<td th:text="${studCareerExamRegistration.getValue0().getEmail()}"></td>
					<td th:text="${studCareerExamRegistration.getValue1().getMajor()}"></td>
					<td th:text="${#messages.msg('evaluationInfo.'+studCareerExamRegistration.getValue2().getStatus().toString())}"></td>
					<td th:text="${studCareerExamRegistration.getValue2().getResultRepresentation()}"></td>
					<td>
						<th:block th:if="${studCareerExamRegistration.getValue2().getStatus().equals(PUB) ||
							studCareerExamRegistration.getValue2().getStatus().equals(RIF) ||
							studCareerExamRegistration.getValue2().getStatus().equals(VERB)}"
							th:text="#{evaluationInfo.examResultFinalized}"></th:block>
						<a th:unless="${studCareerExamRegistration.getValue2().getStatus().equals(PUB) ||
							studCareerExamRegistration.getValue2().getStatus().equals(RIF) ||
							studCareerExamRegistration.getValue2().getStatus().equals(VERB)}"
							th:href="@{.(
								examId=${studCareerExamRegistration.getValue2().getExamId()},
								studentId=${studCareerExamRegistration.getValue2().getStudentId()}
								)}"
							th:text="#{evaluationInfo.editExamResult}"></a>
					</td>
				</tr>
			</tbody>
		</table>

		<div style="display: flex; align-items: center;">
			<form id="publication" th:action="@{.}" method="POST">
				<input type="hidden" name="examId" th:value="${examId}">
				<input type="submit" th:value="#{publication.publish}">
			</form>

			<form id="verbalization" th:action="@{.}" method="POST">
				<input type="hidden" name="examId" th:value="${examId}">
				<input type="submit" th:value="#{verbalization.verbalize}">
			</form>
		</div>

		<footer>

		</footer>
	</body>	
</html>
