<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="layout :: headtags(#{registration.title})">
			<meta charset="UTF-8">
			<title>PoliEsaMI - Exam Registration</title>
			<link href="../../../../css/base.css" rel="stylesheet">
			<link href="../../../../css/table.css" rel="stylesheet">
			<link href="../../../../css/form.css" rel="stylesheet">
		</th:block>
	</head>
	<body>
		<header th:replace="layout :: header">
			<div><h1>PoliEsaMI</h1></div>
		</header>
		<div id="content">
			<section>
				<table class="list wide">
					<thead>
						<tr>
							<th scope="col" th:text="#{examInfo.thCourseId}">Course ID</th>
							<th scope="col" th:text="#{examInfo.thCourseName}">Course Name</th>
							<th scope="col" th:text="#{examInfo.thExamId}">Exam ID</th>
							<th scope="col" th:text="#{examInfo.thExamDate}">Exam Date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${exam.course.id}">3</td>
							<td th:text="${exam.course.name}">Tecnologie Informatiche per il web</td>
							<td th:text="${exam.id}">4</td>
							<td th:text="${exam.date}">15/02/2020</td>
						</tr>
					</tbody>
				</table>
			</section>
			<th:block th:replace="${examRegistration != null} ? (${examRegistration.result.toString() != 'VUOTO'} ? ~{:: reg} : ~{:: emptyReg}) : ~{:: noReg}"></th:block>
			<th:block th:remove="all">
				<section th:fragment="reg">
					<table class="list">
						<thead>
							<tr>
								<th scope="col" th:text="#{evaluationInfo.thStatus}">Evaluation Status</th>
								<th scope="col" th:text="#{evaluationInfo.thRepresentation}">Evaluation Grade</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td th:text="#{|evaluationInfo.${examRegistration.status.toString()}|}">PUBLISHED</td>
								<td th:text="${#messages.msgOrNull('evaluationInfo.' + examRegistration.resultRepresentation.toString())} ?: ${examRegistration.resultRepresentation.toString()}">30L</td>
							</tr>
						</tbody>
					</table>
						<form th:if="${examRegistration.result.toString() == 'PASS'}" th:action="@{${#servletContext.getInitParameter('studExamRejectService')}}" method="POST">
							<input type="hidden" name="studentId" th:value="${examRegistration.studentId}">
							<input type="hidden" name="examId" th:value="${examRegistration.examId}">
							<div class="field">
								<input type="submit" th:value="#{evaluationInfo.reject}" value="Reject">
							</div>
						</form>
				</section>
				<section th:fragment="emptyReg">
					<div th:text="#{evaluationInfo.notAvailable}">
						Grade not yet available
					</div>
					<form th:action="@{${#servletContext.getInitParameter('studExamRegService')}}" method="POST">
						<input type="hidden" name="examId" th:value="${exam.id}">
						<input type="hidden" name="action" th:value="deregister">
						<div class="field">
							<input type="submit" th:value="#{registered.clickToDeregister}" value="Click to deregister">
						</div>
					</form>
				</section>
				<section th:fragment="noReg">
					<div th:text="#{notRegistered.youAreNotRegistered}">
						You are not registered
					</div>
					<form th:action="@{${#servletContext.getInitParameter('studExamRegService')}}" method="POST">
						<input type="hidden" name="examId" th:value="${exam.id}">
						<input type="hidden" name="action" th:value="register">
						<div class="field">
							<input type="submit" th:value="#{notRegistered.clickToRegister}" value="Click to register">
						</div>
					</form>
				</section>
			</th:block>
		</div>
		<footer th:replace="layout :: footer"></footer>
	</body>
</html>
