<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>PoliEsaMI - Registered</title>
		<link href="/polimi-tiw-2020-project/css/table.css" rel="stylesheet">
		<link href="/polimi-tiw-2020-project/css/form.css" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>PoliEsaMI</h1>
		</header>
		<div></div>

		<form id="examEvaluationForm" method="POST">
			<ul>
				<li>
					<label for="examId" th:text="#{label.examId}"></label>
					<input type="text" readonly id="examId" name="examId" th:value="${examRegistration.getExamId()}">
				</li>
				<li>
					<label for="studentId" th:text="#{label.studentId}"></label>
					<input type="text" readonly id="studentId" name="studentId" th:value="${examRegistration.getStudentId()}">
				</li>

				<li>
					<label for="examStatus" th:text="#{label.examStatus}"></label>
					<select id="examStatus" name="examStatus" size="1">
						<option th:each="status : ${statuses}" th:value="${status.toString()}"
							th:selected="${examRegistration.getStatus().equals(status)}"
							th:text="${#messages.msg('evaluationInfo.'+status.toString())}">
						</option>
					</select>
				</li>

				<li>
					<label for="examResult" th:text="#{label.examResult}"></label>
					<select id="examResult" name="examResult" size="1">
						<option th:each="result : ${results}" th:value="${result.toString()}"
							th:selected="${examRegistration.getResult().equals(result)}"
							th:text="${#messages.msg('evaluationInfo.'+result.toString())}">
						</option>
					</select>
				</li>

				<li>
					<label for="grade" th:text="#{label.grade}"></label>
					<input type="number" min="0" max="30" id="grade" name="grade" th:value="${examRegistration.getGrade()}">
				</li>

				<li>
					<label for="laude" th:text="#{label.laude}"></label>
					<input type="checkbox" id="laude" name="laude" value="true" th:checked="${examRegistration.getLaude()}">
				</li>

				<li>
					<input type="submit" th:value="#{editExamEval.save}">
				</li>
			</ul>
		</form>

		<footer>

		</footer>
	</body>	
</html>
