<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>PoliEsaMI - Careers</title>
		<link href="/polimi-tiw-2020-project/css/table.css" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>PoliEsaMI</h1>
		</header>
		<div></div>
		<table>
			<thead>
				<tr>
					<th th:text="#{careers.thCareerID}"></th>
					<th th:text="#{careers.thCareerDetails}"colspan="2"></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="career,iterStat : ${careers}" th:class="${iterStat.odd} ? 'odd' : 'even'">
			        <td th:text="${career.id}"></td>
			        <td th:text="(${career.role.toString()} == 'professor') ? #{careers.professor} : #{careers.student}"
			            th:colspan="(${career.role.toString()} == 'professor') ? 2 : 1"></td>
			        <td th:if="${career.role.toString()} == 'student'" th:text="${career.major}"></td>
			        <td><a th:href="@{${careerService}(careerId=${career.id},role=${career.role.toString()})}" th:text="#{careers.goToCareer}"></a></td>
    			</tr>
			</tbody>
		</table>
		
		<footer>

		</footer>
	</body>	
</html>
