<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="layout :: headtags(#{careers.title})">
			<meta charset="UTF-8">
			<title>PoliEsaMI - Careers</title>
			<link href="../../../css/base.css" rel="stylesheet">
			<link href="../../../css/table.css" rel="stylesheet">
			<link href="../../../css/form.css" rel="stylesheet">
		</th:block>
	</head>
	<body>
		<header th:replace="layout :: header(~{})">
			<div><h1>PoliEsaMI</h1></div>
		</header>
		<div id="content">
			<section>
				<table class="list wide">
					<thead>
						<tr>
							<th scope="col" th:text="#{careers.thCareerID}">Career ID</th>
							<th scope="col" th:text="#{careers.thCareerDetails}" colspan="2">Career details</th>
							<th scope="col" th:text="#{careers.goToCareer}">Go to career</th>
						</tr>
					</thead>
					<tbody th:remove="all-but-first">
						<tr th:each="career,iterStat : ${careers}">
							<td th:text="${career.id}">1</td>
							<th:block th:switch="${career.role.toString()}">
								<td style="display: none;" th:attr="style=''" th:case="'professor'" th:text="#{careers.professor}" colspan="2"></td>
								<th:block th:case="'student'">
									<td th:text="#{careers.student}">Student</td>
									<td th:text="${career.major}">Laura Triennale - Ingegneria Informatica</td>
								</th:block>
							</th:block>
							<td><a class="symbol" th:href="@{${#servletContext.getInitParameter('careerService')}(careerId=${career.id},role=${career.role.toString()})}" href="student/exams.html">➡</a></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Student</td>
							<td>Laura Magistrale - Computer Science Engineering</td>
							<td><a class="symbol" href="student/exams.html">➡</a></td>
						</tr>
						<tr>
							<td>3</td>
							<td colspan="2">Professor</td>
							<td><a class="symbol" href="professor/exams.html">➡</a></td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
		<footer th:replace="layout :: footer"></footer>
	</body>
</html>
