<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="layout :: headtags(#{edit.title})">
			<meta charset="UTF-8">
			<title>PoliEsaMI - Exams</title>
			<link href="../../../../../css/base.css" rel="stylesheet">
			<link href="../../../../../css/table.css" rel="stylesheet">
			<link href="../../../../../css/form.css" rel="stylesheet">
		</th:block>
	</head>
	<body>
		<header th:replace="layout :: header(~{ :: #back})">
			<div>
				<h1>PoliEsaMI</h1>
				<div id="back">
					<a href="exams.html" th:href="@{${#servletContext.getInitParameter('profExamRegPage')}(examId=${exam.id})}" th:text="#{header.back}">Exams</a>
				</div>
			</div>
		</header>
		<div id="content">
			<section>
				<form class="boxed" th:action="@{${#servletContext.getInitParameter('profExamRegEditService')}}" method="POST">
					<div class="field">
						<label for="examId" th:text="#{label.examId}">Exam ID</label>
						<input class="expand" type="text" readonly id="examId" name="examId" th:value="${examRegistration.examId}" required>
					</div>
					<div class="field">
						<label for="studentId" th:text="#{label.studentId}">Student ID</label>
						<input class="expand" type="text" readonly id="studentId" name="studentId" th:value="${examRegistration.studentId}" required>
					</div>
					<div class="field">
						<label for="examResult" th:text="#{label.examResult}">Exam Result</label>
						<select class="expand" id="examResult" name="examResult" size="1" required>
							<option th:each="result : ${results}" th:value="${result.toString()}"
								th:selected="${examRegistration.result.equals(result)}"
								th:text="#{|evaluationInfo.${result.toString()}|}">
							</option>
						</select>
					</div>
					<div class="field">
						<label for="grade" th:text="#{label.grade}">Grade</label>
						<input class="expand" type="number" min="0" max="30" id="grade" name="grade" th:value="${examRegistration.grade}" required>
					</div>
					<div class="field">
						<label for="laude" th:text="#{label.laude}">Laude</label>
						<div class="expand">
							<input type="checkbox" id="laude" name="laude" value="true" th:checked="${examRegistration.laude}">
						</div>
					</div>
					<div class="field">
						<input type="submit" th:value="#{editExamEval.save}" value="Save">
					</div>
				</form>
			</section>
		</div>
		<footer th:replace="layout :: footer"></footer>
	</body>	
</html>
