<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>PoliEsaMI - Registered</title>
		<link href="/polimi-tiw-2020-project/css/table.css" rel="stylesheet">
		<link href="/polimi-tiw-2020-project/css/form.css" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>PoliEsaMI</h1>
		</header>

		<div></div>

		<div id="examInfo">
			<table>
				<thead>
					<tr>
						<th scope="col" th:text="#{examInfo.thCourseId}"></th>
						<th scope="col" th:text="#{examInfo.thCourseName}"></th>
						<th scope="col" th:text="#{examInfo.thExamId}"></th>
						<th scope="col" th:text="#{examInfo.thExamDate}"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${course.getId()}"></td>
						<td th:text="${course.getName()}"></td>
						<td th:text="${exam.getId()}"></td>
						<td th:text="${exam.getDate()}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:if="${isRegistered}" th:insert="~{ |${fragmentsPath}registered| :: registered}"></div>
		<div th:if="${!isRegistered}" th:insert="~{ |${fragmentsPath}notRegistered| :: notRegistered}"></div>
		<footer>

		</footer>
	</body>	
</html>
