<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>PoliEsaMI - Registered</title>
		<link href="/polimi-tiw-2020-project/css/table.css" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>PoliEsaMI</h1>
		</header>
		<div></div>
		<div id="examInfo">
			<table>
				<thead>
					<tr>
						<th scope="col" th:text="#{examInfo.thCourseId}"></th>
						<th scope="col" th:text="#{examInfo.thCourseName}"></th>
						<th scope="col" th:text="#{examInfo.thExamId}"></th>
						<th scope="col" th:text="#{examInfo.thExamDate}"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${course.getId()}"></td>
						<td th:text="${course.getName()}"></td>
						<td th:text="${exam.getId()}"></td>
						<td th:text="${exam.getDate()}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="evaluationInfo">
		<table th:if="${examRegistration.getStatus().toString() != NINS 
				&& examRegistration.getStatus().toString() != INS}">
			<thead>
				<tr>
					<th scope="col" th:text="#{evaluationInfo.thStatus}"></th>
					<th scope="col" th:text="#{evaluationInfo.thRepresentation}"></th>
					<th th:if="${examRegistration.getResult().toString() == PASS}"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${#messages.msg('evaluationInfo.'+examRegistration.getStatus().toString())}"></td>
					<td th:text="${examRegistration.getResultRepresentation()}"></td>
					<td th:if="${examRegistration.getResult().toString() == PASS 
						&& examRegistration.getStatus().toString() != VERB}">
						<form th:action="@{${studExamRejectService}}" method="POST">
							<input type="hidden" name="studentId" th:value="${examRegistration.getStudentId()}">
							<input type="hidden" name="examId" th:value="${examRegistration.getExamId()}">
							<input type="submit" th:value="#{evaluationInfo.reject}">
						</form>
					</td>
				</tr>
			</tbody>
		</table>
			<p th:if="${examRegistration.getStatus().toString() == NINS 
				|| examRegistration.getStatus().toString() == INS}" th:text="#{evaluationInfo.notAvailable}"></p>
		</div>
		<!--<form th:action="@{${studExamRegService}}" method="POST">
			<p th:text="#{registered.youAreRegistered}"></p>
			<input type="hidden" name="examId" th:value="${param.examId}">
			<input type="hidden" name="action" value="${action}">
			<ul>
				<li>
					<input type="submit" th:value="#{registered.clickToDeregister}"> 
				</li>
			</ul>
		</form>-->
		<footer>

		</footer>
	</body>	
</html>
