<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<table th:fragment="registered" th:if="${examRegistration.getStatus().toString() != NINS
				&& examRegistration.getStatus().toString() != INS}" >
			<thead>
				<tr>
					<th scope="col" th:text="#{evaluationInfo.thStatus}"></th>
					<th scope="col" th:text="#{evaluationInfo.thRepresentation}"></th>
					<th th:if="${examRegistration.getResult().toString() == PASS}"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${#messages.msg('evaluationInfo.'+examRegistration.getStatus().toString())}"></td>
					<td th:text="${examRegistration.getResultRepresentation()}"></td>
					<td th:if="${examRegistration.getResult().toString() == PASS
						&& examRegistration.getStatus().toString() != VERB}">
						<form th:action="@{${studExamRejectService}}" method="POST">
							<input type="hidden" name="studentId" th:value="${examRegistration.getStudentId()}">
							<input type="hidden" name="examId" th:value="${examRegistration.getExamId()}">
							<input type="submit" th:value="#{evaluationInfo.reject}">
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<p th:fragment="registered" th:if="${!(examRegistration.getStatus().toString() != NINS
				&& examRegistration.getStatus().toString() != INS)}" th:text="#{evaluationInfo.notAvailable}"></p>
		<!--<form th:action="@{${studExamRegService}}" method="POST">
			<p th:text="#{registered.youAreRegistered}"></p>
			<input type="hidden" name="examId" th:value="${param.examId}">
			<input type="hidden" name="action" value="${DEREGISTER}">
			<ul>
				<li>
					<input type="submit" th:value="#{registered.clickToDeregister}">
				</li>
			</ul>
		</form>-->
	</body>
</html>
