<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="layout :: headtags(#{registrations.title})">
			<meta charset="UTF-8">
			<title>PoliEsaMI - Exam Registration</title>
			<link href="../../../../css/base.css" rel="stylesheet">
			<link href="../../../../css/table.css" rel="stylesheet">
			<link href="../../../../css/form.css" rel="stylesheet">
		</th:block>
	<body>
		<header th:replace="layout :: header(~{ :: #back})">
			<div>
				<h1>PoliEsaMI</h1>
				<div id="back">
					<a href="exams.html" th:href="@{${#servletContext.getInitParameter('professorExamsPage')}(year=${exam.year})}" th:text="#{header.back}">Exams</a>
				</div>
			</div>
		</header>
		<div id="content">
			<section th:insert="inside/exam_table :: table"></section>
			<section>
				<a th:href="@{${#servletContext.getInitParameter('profRecordsPage')}(examId=${exam.id})}" href="student/exams.html" th:text="#{verbalization.records}">Verbali</a>
			</section>
			<section>
				<table class="list">
					<thead>
						<tr>
							<th scope="col" th:each="column : ${columns}">
								<form method="GET">
									<input type="hidden" name="examId" th:value="${exam.id}">
									<input type="hidden" name="orderBy" th:value="${column}">
									<th:block th:switch="${param.orderBy ? param.orderBy[0] : ''}" th:with="text=#{|evaluationInfo.th.${column}|}">
										<th:block th:case="${column.toString()}">
											<input th:if="${!desc}" type="hidden" name="desc" value="true">
											<input class="link-button" type="submit" th:value="|${text} ${desc?'▲':'▼'}|" value="Student id">
										</th:block>
										<th:block th:case="*">
											<input class="link-button" type="submit" th:value="${text}" value="Student id">
										</th:block>
									</th:block>
								</form>
							</th>
							<th scope="col" th:text="#{evaluationInfo.editExamResult}">Edit result</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="registration,iterStat : ${registrations}" th:class="${iterStat.odd} ? 'odd' : 'even'">
							<td th:each="column : ${columns}" th:text="__${column.getField('registration')}__">0</td>
							<td th:switch="${registration.status.toString()}">
								<th:block th:case="'PUB'" th:text="#{evaluationInfo.examResultPublished}"></th:block>
								<th:block th:case="'VERB'" th:text="#{evaluationInfo.examResultFinalized}"></th:block>
								<a class="symbol" href="examRegistrations/edit.html" th:href="@{${#servletContext.getInitParameter('profEditExamPage')}(examId=${registration.examId},studentId=${registration.studentId})}" th:case="*">➡</a>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
			<section>
				<div class="row">
					<form th:action="@{${#servletContext.getInitParameter('profExamPublishService')}}" method="POST">
						<input type="hidden" name="examId" th:value="${exam.id}">
						<div class="field">
							<input type="submit" th:value="#{publication.publish}" value="Publish">
						</div>
					</form>
					<form th:action="@{${#servletContext.getInitParameter('profExamVerbalizeService')}}" method="POST">
						<input type="hidden" name="examId" th:value="${exam.id}">
						<div class="field">
							<input type="submit" th:value="#{verbalization.verbalize}" value="Verbalize">
						</div>
					</form>
				</div>
			</section>
			<footer th:replace="layout :: footer"></footer>
		</div>
	</body>	
</html>
