<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="layout :: headtags(#{registrations.title})">
			<meta charset="UTF-8">
			<title>PoliEsaMI - Exam Registration</title>
			<link href="../../../../css/base.css" rel="stylesheet">
			<link href="../../../../css/table.css" rel="stylesheet">
			<link href="../../../../css/form.css" rel="stylesheet">
		</th:block>
	<body>
		<header th:replace="layout :: header">
			<div><h1>PoliEsaMI</h1></div>
		</header>
		<div id="content">
			<section>
				<table class="list wide">
					<thead>
						<tr>
							<th scope="col" th:text="#{examInfo.thCourseId}">Course ID</th>
							<th scope="col" th:text="#{examInfo.thCourseName}">Course Name</th>
							<th scope="col" th:text="#{examInfo.thExamId}">Exam ID</th>
							<th scope="col" th:text="#{examInfo.thExamDate}">Exam Date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${exam.course.id}">3</td>
							<td th:text="${exam.course.name}">Tecnologie Informatiche per il web</td>
							<td th:text="${exam.id}">4</td>
							<td th:text="${exam.date}">15/02/2020</td>
						</tr>
					</tbody>
				</table>
			</section>
			<section>
				<table class="list">
					<thead>
						<tr>
							<th scope="col" th:each="column : ${columns}">
								<form method="GET">
									<input type="hidden" name="examId" th:value="${exam.id}">
									<input type="hidden" name="orderBy" th:value="${column}">
									<th:block th:switch="${param.orderBy ? param.orderBy[0] : ''}" th:with="text=#{|evaluationInfo.th.${column}|}">
										<th:block th:case="${column.toString()}">
											<input th:if="${!desc}" type="hidden" name="desc" value="true">
											<input class="link-button" type="submit" th:value="|${text} ${desc?'▲':'▼'}|" value="Student id">
										</th:block>
										<th:block th:case="*">
											<input class="link-button" type="submit" th:value="${text}" value="Student id">
										</th:block>
									</th:block>
								</form>
							</th>
							<th scope="col" th:text="#{evaluationInfo.editExamResult}">Edit result</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="registration,iterStat : ${registrations}" th:class="${iterStat.odd} ? 'odd' : 'even'">
							<td th:each="column : ${columns}" th:text="${column.getField(registration)}">0</td>
							<td th:switch="${registration.status.toString()}">
								<th:block th:case="'VERB'" th:text="#{evaluationInfo.examResultFinalized}"></th:block>
								<form th:case="*" method="GET">
									<input type="hidden" name="examId" th:value="${registration.examId}">
									<input type="hidden" name="studentId" th:value="${registration.studentId}">
									<input class="link-button symbol" type="submit" value="➡">
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
			<section>
				<div class="row">
					<form method="POST">
						<input type="hidden" name="examId" th:value="${exam.id}">
						<div class="field">
							<input type="submit" th:value="#{publication.publish}" value="Publish">
						</div>
					</form>
					<form method="POST">
						<input type="hidden" name="examId" th:value="${exam.id}">
						<div class="field">
							<input type="submit" th:value="#{verbalization.verbalize}" value="Verbalize">
						</div>
					</form>
				</div>
			</section>
			<footer th:replace="layout :: footer"></footer>
		</div>
	</body>	
</html>
