<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
	<!-- APP INFO -->
	<display-name>polimi-tiw-2020-project</display-name>
	<description>project for TIW 2020-2021</description>
	
	<context-param>
		<param-name>app-name</param-name>
		<param-value>PoliEsaMI</param-value>
	</context-param>
	
	<!-- CONTEXT RESOURCES -->
	<resource-ref>
		<description>TIW primary DB</description>
		<res-ref-name>jdbc/polimiDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- WELCOME FILE LIST-->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<!-- LISTENERS -->
	<listener>
		<listener-class>it.polimi.poliesami.AppInit</listener-class>
	</listener>
	
	<!-- FILTERS -->
	<filter>
		<filter-name>LoginInsideFilter</filter-name>
		<filter-class>it.polimi.poliesami.website.filter.LoginInside</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginInsideFilter</filter-name>
		<url-pattern>/inside/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>LoginOutsideFilter</filter-name>
		<filter-class>it.polimi.poliesami.website.filter.LoginOutside</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginOutsideFilter</filter-name>
		<url-pattern>/login/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ProfessorFilter</filter-name>
		<filter-class>it.polimi.poliesami.website.filter.Role</filter-class>
		<init-param>
			<param-name>acceptRole</param-name>
			<param-value>professor</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ProfessorFilter</filter-name>
		<url-pattern>/inside/professor/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>StudentFilter</filter-name>
		<filter-class>it.polimi.poliesami.website.filter.Role</filter-class>
		<init-param>
			<param-name>acceptRole</param-name>
			<param-value>student</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>StudentFilter</filter-name>
		<url-pattern>/inside/student/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>StudentExamFilter</filter-name>
		<filter-class>it.polimi.poliesami.website.filter.StudentExam</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>StudentExamFilter</filter-name>
		<url-pattern>/inside/student/examRegistration/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>ProfessorExamFilter</filter-name>
		<filter-class>it.polimi.poliesami.website.filter.ProfessorExam</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ProfessorExamFilter</filter-name>
		<url-pattern>/inside/professor/examRegistrations/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ExamEditFilter</filter-name>
		<filter-class>it.polimi.poliesami.website.filter.ExamEdit</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ExamEditFilter</filter-name>
		<url-pattern>/inside/professor/examRegistrations/edit/*</url-pattern>
	</filter-mapping>

	<!-- SERVLETS -->
	<servlet>
		<servlet-name>LoginService</servlet-name>
		<servlet-class>it.polimi.poliesami.website.controller.LoginService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginService</servlet-name>
		<url-pattern>/login/LoginService</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>loginService</param-name>
		<param-value>/login/LoginService</param-value>
	</context-param>

	<servlet>
		<servlet-name>LogoutService</servlet-name>
		<servlet-class>it.polimi.poliesami.website.controller.LogoutService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutService</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>logoutService</param-name>
		<param-value>/logout</param-value>
	</context-param>

	<servlet>
		<servlet-name>CareerService</servlet-name>
		<servlet-class>it.polimi.poliesami.website.controller.CareerService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CareerService</servlet-name>
		<url-pattern>/inside/CareerService</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>careerService</param-name>
		<param-value>/inside/CareerService</param-value>
	</context-param>

	<servlet>
		<servlet-name>StudExamRegService</servlet-name>
		<servlet-class>it.polimi.poliesami.website.controller.StudExamRegService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudExamRegService</servlet-name>
		<url-pattern>/inside/student/examRegistration/RegistrationService/*</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>studExamRegService</param-name>
		<param-value>/inside/student/examRegistration/RegistrationService</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>StudExamRejectService</servlet-name>
		<servlet-class>it.polimi.poliesami.website.controller.StudExamRejectService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudExamRejectService</servlet-name>
		<url-pattern>/inside/student/examRegistration/RejectService</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>studExamRejectService</param-name>
		<param-value>/inside/student/examRegistration/RejectService</param-value>
	</context-param>

	<servlet>
		<servlet-name>ProfExamPublishService</servlet-name>
		<servlet-class>it.polimi.poliesami.website.controller.ProfExamPublishService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfExamPublishService</servlet-name>
		<url-pattern>/inside/professor/examRegistrations/PublishService</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>profExamPublishService</param-name>
		<param-value>/inside/professor/examRegistrations/PublishService</param-value>
	</context-param>

	<servlet>
		<servlet-name>ProfExamVerbalizeService</servlet-name>
		<servlet-class>it.polimi.poliesami.website.controller.ProfExamVerbalizeService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfExamVerbalizeService</servlet-name>
		<url-pattern>/inside/professor/examRegistrations/VerbalizeService</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>profExamVerbalizeService</param-name>
		<param-value>/inside/professor/examRegistrations/VerbalizeService</param-value>
	</context-param>

	<servlet>
		<servlet-name>ProfExamRegEditService</servlet-name>
		<servlet-class>it.polimi.poliesami.website.controller.ProfExamRegEditService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfExamRegEditService</servlet-name>
		<url-pattern>/inside/professor/examRegistrations/edit/EditService</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>profExamRegEditService</param-name>
		<param-value>/inside/professor/examRegistrations/edit/EditService</param-value>
	</context-param>

	<!-- PAGES -->
	<servlet>
		<servlet-name>LoginPage</servlet-name>
		<servlet-class>it.polimi.poliesami.website.view.LoginPage</servlet-class>
		<init-param>
			<param-name>templatePath</param-name>
			<param-value>/login</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginPage</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>loginPage</param-name>
		<param-value>/login</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>CareersPage</servlet-name>
		<servlet-class>it.polimi.poliesami.website.view.CareersPage</servlet-class>
		<init-param>
			<param-name>templatePath</param-name>
			<param-value>/inside/careers</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>CareersPage</servlet-name>
		<url-pattern>/inside/careers</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>careersPage</param-name>
		<param-value>/inside/careers</param-value>
	</context-param>

	<servlet>
		<servlet-name>ProfessorExamsPage</servlet-name>
		<servlet-class>it.polimi.poliesami.website.view.ProfessorExamsPage</servlet-class>
		<init-param>
			<param-name>templatePath</param-name>
			<param-value>/inside/professor/exams</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfessorExamsPage</servlet-name>
		<url-pattern>/inside/professor/exams</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>professorExamsPage</param-name>
		<param-value>/inside/professor/exams</param-value>
	</context-param>

	<servlet>
		<servlet-name>StudentExamsPage</servlet-name>
		<servlet-class>it.polimi.poliesami.website.view.StudentExamsPage</servlet-class>
		<init-param>
			<param-name>templatePath</param-name>
			<param-value>/inside/student/exams</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentExamsPage</servlet-name>
		<url-pattern>/inside/student/exams</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>studentExamsPage</param-name>
		<param-value>/inside/student/exams</param-value>
	</context-param>

	<servlet>
		<servlet-name>StudExamRegPage</servlet-name>
		<servlet-class>it.polimi.poliesami.website.view.StudExamRegPage</servlet-class>
		<init-param>
			<param-name>templatePath</param-name>
			<param-value>/inside/student/examRegistration</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudExamRegPage</servlet-name>
		<url-pattern>/inside/student/examRegistration</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>studExamRegPage</param-name>
		<param-value>/inside/student/examRegistration</param-value>
	</context-param>

	<servlet>
		<servlet-name>ProfExamRegPage</servlet-name>
		<servlet-class>it.polimi.poliesami.website.view.ProfExamRegPage</servlet-class>
		<init-param>
			<param-name>templatePath</param-name>
			<param-value>/inside/professor/examRegistrations</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfExamRegPage</servlet-name>
		<url-pattern>/inside/professor/examRegistrations</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>profExamRegPage</param-name>
		<param-value>/inside/professor/examRegistrations</param-value>
	</context-param>

	<servlet>
		<servlet-name>ProfEditExamPage</servlet-name>
		<servlet-class>it.polimi.poliesami.website.view.ProfEditExamPage</servlet-class>
		
		<init-param>
			<param-name>templatePath</param-name>
			<param-value>/inside/professor/examRegistrations/edit</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfEditExamPage</servlet-name>
		<url-pattern>/inside/professor/examRegistrations/edit</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>profEditExamPage</param-name>
		<param-value>/inside/professor/examRegistrations/edit</param-value>
	</context-param>

	<servlet>
		<servlet-name>ProfRecordsPage</servlet-name>
		<servlet-class>it.polimi.poliesami.website.view.ProfRecordsPage</servlet-class>
		
		<init-param>
			<param-name>templatePath</param-name>
			<param-value>/inside/professor/examRegistrations/records</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfRecordsPage</servlet-name>
		<url-pattern>/inside/professor/examRegistrations/records</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>profRecordsPage</param-name>
		<param-value>/inside/professor/examRegistrations/records</param-value>
	</context-param>

	<!-- API -->
	<context-param>
		<param-name>apiURI</param-name>
		<param-value>/api</param-value>
	</context-param>

	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.origins</param-name>
			<param-value>*</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.headers</param-name>
			<param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers,Authorization</param-value>
		</init-param>
		<init-param>
			<param-name>cors.exposed.headers</param-name>
			<param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
		</init-param>
		<init-param>
			<param-name>cors.support.credentials</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ApiLoginFilter</filter-name>
		<filter-class>it.polimi.poliesami.api.identity.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ApiLoginFilter</filter-name>
		<url-pattern>/api/inside/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ApiStudentFilter</filter-name>
		<filter-class>it.polimi.poliesami.api.filter.Role</filter-class>
		<init-param>
			<param-name>acceptRole</param-name>
			<param-value>student</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ApiStudentFilter</filter-name>
		<url-pattern>/api/inside/student/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ApiStudentExamFilter</filter-name>
		<filter-class>it.polimi.poliesami.api.filter.StudentExam</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ApiStudentExamFilter</filter-name>
		<url-pattern>/api/inside/student/exams/exam/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>JsonMapper</servlet-name>
		<servlet-class>it.polimi.poliesami.api.JsonMapper</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>PoliesamiJS</servlet-name>
		<servlet-class>it.polimi.poliesami.api.JavascriptAPI</servlet-class>

		<init-param>
			<param-name>templatePath</param-name>
			<param-value>poliesami</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>PoliesamiJS</servlet-name>
		<url-pattern>/api/poliesami.js</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ApiLogin</servlet-name>
		<servlet-class>it.polimi.poliesami.api.identity.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApiLogin</servlet-name>
		<url-pattern>/api/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ApiStudCoursesExams</servlet-name>
		<servlet-class>it.polimi.poliesami.api.resources.StudCoursesExams</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApiStudCoursesExams</servlet-name>
		<url-pattern>/api/inside/student/exams</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ApiStudExam</servlet-name>
		<servlet-class>it.polimi.poliesami.api.resources.StudExam</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApiStudExam</servlet-name>
		<url-pattern>/api/inside/student/exams/exam</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ApiStudExamReg</servlet-name>
		<servlet-class>it.polimi.poliesami.api.resources.StudExamReg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApiStudExamReg</servlet-name>
		<url-pattern>/api/inside/student/exams/exam/reg</url-pattern>
	</servlet-mapping>
</web-app>
