<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
	<!-- APP INFO -->
	<display-name>polimi-tiw-2020-project</display-name>
	<description>project for TIW 2020-2021</description>
	
	<!-- CONTEXT RESOURCES -->
	<resource-ref>
		<description>TIW primary DB</description>
		<res-ref-name>jdbc/polimiDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- WELCOME FILE LIST-->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<!-- LISTENERS -->
	<listener>
		<listener-class>it.polimi.poliesami.controller.AppInit</listener-class>
	</listener>
	
	<!-- FILTERS -->
	<filter>
		<filter-name>LoginInsideFilter</filter-name>
		<filter-class>it.polimi.poliesami.controller.LoginInsideFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginInsideFilter</filter-name>
		<url-pattern>/inside/*</url-pattern>
	</filter-mapping>
	
	<!-- SERVLETS -->
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>it.polimi.poliesami.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/access/LoginService</url-pattern>
	</servlet-mapping>
</web-app>
